@font-face {
    font-family: 'Code';
    src: url('font/CascadiaCode.ttf')
}
body {
    background-color: #542c2c;
    font-family: 'Code';
    color: #ffffff;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
a{
    text-decoration-line: underline !important;
}
.terminal {
    overflow-y:scroll;
    border-radius: 4px;
    border: 2px solid #ffffffd8;
    scrollbar-width: none;
}
.terminal::-webkit-scrollbar {
    display: none !important;
}
.user { color: #3aff8f }
.directory { color: ##daff1f}
.symbols { color: #2dff73; }
