@font-face {
    font-family: 'Code';
    src: url('font/CascadiaCode.ttf')
}
body {
    background-color: #312c54;
    font-family: 'Code';
    color: #ffffff;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
a{
    text-decoration-line: underline !important;
}
.terminal {
    overflow-y:scroll;
    border-radius: 8px;
    border: 2.8px solid #ffffff;
    scrollbar-width: none;
}
.terminal::-webkit-scrollbar {
    display: none !important;
}
.user { color: #ffb03a }
.directory { color: #c863fe }
.symbols { color: #2dff73; }